/* default hl theme */
#Advantages { padding:0% 20%; }
@media (min-width: 576px) {
  #Advantages { padding:20% }
}
@media (min-width: 768px) {
  #Advantages { padding:10% 20%; }
}
@media (min-width: 1200px) {
  #Advantages { padding:5% 20%; }
}
#Advantages ul {
  margin: 0;
}

.TM2 {
  background: -webkit-linear-gradient(#4d97e4, #5971c7) !important;
  -webkit-background-clip: text !important;
}
.TM3 {
  border-bottom:1px solid #5971c7;
  text-decoration: none !important;
}
.SummaryDetails {
  padding-left: .5rem;
  padding-right: .5rem;
}
h1 {
  margin-bottom: 0;
}