.Letter {
  text-shadow: 1px 1px 1px #8d5718;
  font-size: larger;
  color: gold;
}
.Image {
  position: absolute;
  top: 0;
  left: 0;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

/* @gen-webkit-keyframes */
@keyframes growA {
  from {
    transform: scale(1) translateX(0);
    opacity: 1;
  }
  to {
    transform: scale(1.75) translateX(10px);
    opacity:0;
  }
}
/* @gen-webkit-keyframes */
@keyframes growI {
  from {
    transform: scale(1) translate(0, 0);
    -webkit-transform: scale(1) translate(0, 0);
    opacity: 1;
  }
  to {
    transform: scale(1.75) translate(6.5px, 10px);
    -webkit-transform: scale(1.75) translate(6.5px, 10px);
    opacity:0;
  }
}
.A {
  animation-name: growA;
}
.I {
  animation-name: growI;
}
.Copy {
  border: 7px solid rgb(229, 138, 117);
  background: radial-gradient(rgb(242, 238, 226), rgb(224, 209, 180));
  box-shadow: 1px -1px rgb(191,68,67);
  min-width: 300px;
}
.Noise {
  display: block;
  padding: 15px;
  background-image: url(/img/noise.png);
}