#menu {
  text-align: right;
  background: #294874;
  line-height: 0;
}
#menu svg {
  height: 100%;
  max-width: 100%;
}
#menu svg>g>g[token="3"], #menu svg>g>g[token="4"], #menu svg>g>g[token="2"], #menu svg>g>g[token="1"] {
  cursor: pointer;
}
body {
  margin: 0;
}
#info {
  margin: 1rem;
}
.SectionBreak {
  text-align: center;
}
.tm2 {
  background-color: #ffc7ff;
  font-family: 'Courier New', Courier, monospace;
}
.TM {
  padding-left: .2rem;
  padding-right: .2rem;
  font-weight: bolder;
}
.NPM {
  background-color: rgb(215,0,0);
  color: white;
}
.Node {
  background-color: rgb(17,141,55);
  color: rgb(221, 221, 221);
}
.Corp {
  border-bottom: 2px dashed;
}
.React {
  background-color: rgb(57,214,247);
  color: rgb(33,33,33);
}
.Typescript {
  background-color: rgb(0,13,102);
  color: white;
}
.JavaScript {
  background-color: rgb(238,223,0);
  color: black;
}
p {
  font-family: 'Gentium Basic', serif;
  font-size: larger;
}
h1 {
  padding-top: 1rem;
}

/* @gen-webkit-keyframes */
@keyframes filter-animation {
  0% {
    filter: hue-rotate(0deg);
  }
  25% {
    filter: hue-rotate(90deg);
  }
  50% {
    filter: hue-rotate(180deg);
  }
  75% {
    filter: hue-rotate(270deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
.Logo {
  animation: filter-animation 36s infinite;
}
.align-items-center {
  -webkit-align-items: center!important
}
.justify-content-around {
  -webkit-justify-content: space-around!important;
}
.justify-content-end {
  -webkit-justify-content: flex-end!important;
}
.d-flex {
  display: -webkit-flex;
}
#cup {
  width: 300px;
}
.RedBox {
  left: 1rem;
  top: 19rem;
}
.Yellow {
  margin-bottom: 7rem;
}
.Bird1 {
  position: absolute;
  bottom: 2rem;
  left: 1rem;
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
}
.Triangles {
  background-size: 30px !important;
}

#lib .Parallax, .SunImg {
  background-repeat: repeat-x;
  zoom: 0.4;
}
#lib {
  background: rgb(233, 166, 45);
}

/* START MEDIA */
@media (min-width: 576px) {
  #lib .Parallax, .SunImg {
    zoom: 0.6;
  }
  .RedBox {
    left: 10rem;
    top: 12rem;
  }
  .Yellow {
    margin-bottom: 0;
  }
  .Bird1 {
    bottom:1rem;
  }
  .Triangles {
    background-size: 40px !important;
  }
  #lib > #lib-top {
    height: 350px;
  }
}
@media (min-width: 768px) {
  #lib .Parallax, .SunImg {
    zoom: 0.7;
  }
  #cup {
    width: 387px;
  }
  .CupDiv {
    padding-left: 7rem;
  }
  .Yellow {
    margin-bottom: 4rem;
  }
  #lib > #lib-top {
    height: 350px;
  }
}
@media (min-width: 941px) {
  #lib .Parallax, .SunImg {
    zoom: 1;
  }
  .Triangles {
    background-size: 53px !important;
  }
  #lib-top {
    height: 900px;
  }
}
/* END MEDIA */

.RedBox {
  position:absolute;
  width:20rem;
  padding: 1rem;
  height: 10rem;
  background: red;
  color: white;
}
.Table h3 {
  text-decoration: underline;
}
h2, h3, h4 {
  font-family: 'Limelight', cursive;
}
.Feature h2 {
  border-radius: 2rem;
  hyphens: auto;
}
.Sky div {
  left: 0;
  z-index: -1;
  height: 159px;
  background-repeat: repeat-x;
  width: 100%;
  /* animation-iteration-count: infinite;
  animation-duration: 50s;
  animation-timing-function: linear;
  width: 200%; */
}
/* .Sky div:nth-child(even)  {
  animation-name: skyEven;
}
.Sky div:nth-child(odd)  {
  animation-name: skyOdd;
} */
/* @gen-webkit-keyframes */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.RunFadeIn {
  opacity: 0;
  animation: fadeIn 0.5s;
  animation-fill-mode: forwards;
}