.Menu {
  text-align: right;
  background: #294874;
  line-height: 0;
  width: 100%;
}
svg, img {
  max-width: 100%;
  max-height: 100%;
}
svg>g>g[token="3"], svg>g>g[token="4"], svg>g>g[token="2"], svg>g>g[token="1"] {
  cursor: pointer;
}