.Menu {
  text-align: right;
  background: #294874;
  line-height: 0;
  width: 100%;
}
.Menu svg, .Menu img {
  max-width: 100%;
  /* height: auto; */
}
.Menu svg>g>g[token="3"], .Menu svg>g>g[token="4"], .Menu svg>g>g[token="2"], .Menu svg>g>g[token="1"] {
  cursor: pointer;
}