/* @gen-webkit-keyframes */
@keyframes fadeInFromNone {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* @gen-webkit-keyframes */
@keyframes contourFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


/* .ImageHolder > object, .ImageHolder > img, .ImageHolder > svg, .ImageHolder > picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
} */
