<!doctype html>
<html lang="en" class="no-js">
  <block-articles-head />
  <body style="overscroll-behavior: none;">
    <container-fluid position-relative p-0 max-height="20rem" overflow="hidden" mb-3>
      <img id="Photo" img-fluid alt="Art Deco Store Building"
        src="/img/blog.jpg" webp="photo" responsive no-potrace onload="initPhoto(this)" />
      <div id="Holder">
        <a href="main" title="Art Deco Home Page">
          <picture id="Logo">
            <source srcset="/img/logo-300.webp 300w" sizes="100px" type="image/webp">
            <img alt="Art Deco Logo" src="/img/logo.png" sizes="100px" class="img-fluid">
          </picture>
          <!-- <logo skip-css sizes="100px" /> -->
        </a>
        <a d-block text-info lead color="#1067de!important" href="articles">All Articles</a>
      </div>
      <script inline src="../js/article-scroll-top.js"></script>
    </container-fluid>

    <ajax-content>
      <container><row><col>
        {{ content }}
      </col></row></container>
    </ajax-content>

    <bottom img="/img/tile.jpg" />
  </body>
</html>