<!doctype html>
<html lang="en">
  <block-head />
  <body>
    <ajax-loader />
    <add-file>js/menu.json</add-file>
    <div id="menu"></div>
    <div class="container" id="Content">
      {{ content }}
    </div>
    <script src="node_modules://snapsvg/dist/snap.svg-min.js"></script>
    <script src="js/animator.js" nocompile></script>
    <extern src="js/externs.js"></extern>
    <script src="js/menu.js"></script>
    <script src="js/object.assign.js"></script>
    <!-- <block-footer /> -->
    <parallax style="height:100px;" background-image="/img/bakst1.jpg" class="container-fluid" />
    <add-file>img/bakst1.jpg</add-file>
  </body>
</html>