<!doctype html>
<html lang="en" class="no-js">
  <block-head />
  <body>
    <!-- <ajax-loader /> -->
    <!-- <add-file>js/menu.json</add-file> -->

    <block-1-intro />

    <div id="menu"></div>

    <block-2-services />
    <!-- <block-3-services-2 /> -->

    <block-4-lib />
    <div class="w-100 position-relative"
      style="height:20px;z-index:-3; background:#e9a62d"></div>

    <block-5-lib-info />

    <div class="container" id="Content">
      {{ content }}
    </div>

    <script src="node_modules://snapsvg/dist/snap.svg-min.js"></script>
    <script async src="js/menu.js"></script>

    <container-fluid position-relative class="p-0" style="height:100px;" overflow="hidden">
      <parallax background-image="/img/bakst2.jpg" />
    </container-fluid>
  </body>
</html>