<!doctype html>
<html lang="en" class="no-js">
  <block-head />
  <body>
    <!-- <ajax-loader /> -->
    <!-- <add-file>js/menu.json</add-file> -->

    <block-1-intro />

    <div id="menu"></div>

    <block-2-services />
    <!-- <block-3-services-2 /> -->
    <div class="position-relative">
    <block-4-lib />
    <div class="w-100 position-relative"
      style="height:20px;z-index:-3; background:#e9a62d"></div>
    <block-5-lib-info />

    <div class="container" id="Content">
      {{ content }}
    </div>

    <!-- <script src="js/io.js" noiife></script> -->
    <!-- <script src="js/images.js"></script> -->

    <!-- can we group those 3 together? -->
    <!-- <script externs="js/externs.js" src="js/animator.js" nocompile></script> -->

    <!-- <script src="splendid/js/menuu.js" type="module" nocompile></script> -->
    <!-- <script src="js/object.assign.js"></script> -->
    <script src="node_modules://snapsvg/dist/snap.svg-min.js"></script>
    <script async src="js/menu.js"></script>

    <!-- <block-footer /> -->
    <container-fluid position-relative style="height:100px;padding:0">
      <parallax background-image="/img/bakst2.jpg" />
    </container-fluid>
  </body>
</html>