<!doctype html>
<html lang="en" class="no-js">
  <block-head />
  <body style="overscroll-behavior: none;">
    <!-- <script>
      performance.mark('parse-block')
      setTimeout(() => {
        performance.mark('parse-block-end')
        performance.measure('parse-block', 'parse-block', 'parse-block-end')
      }, 0)
    </script> -->
    <!-- <ajax-loader /> -->
    <!-- <add-file>js/menu.json</add-file> -->

    <container id="Content">
      {{ content }}
    </container>
<!-- <div id="menu"></div> -->

    <!-- <block-2-services /> -->
    <!-- <block-3-services-2 /> -->

    <!-- <block-4-lib />
    <div class="w-100 position-relative"
      style="height:20px;z-index:-3; background:#e9a62d"></div>

    <block-5-lib-info /> -->

    <!-- <script src="node_modules://snapsvg/dist/snap.svg-min.js"></script> -->
    <!-- <script combine src="js/menu.js"></script> -->

    <!-- <bootstrap-div position-absolute bottom="-100px" left="0" w-100> -->
      <!-- </bootstrap-div> -->
    <bottom img="img/bakst2.jpg" />
  </body>
</html>