h1, h2, h3, h4 {
  font-family: 'Limelight', cursive;
  word-break: break-word;
}
p {
  font-family: 'Gentium Basic', serif;
  font-size: larger;
}
.SectionBreak {
  text-align: center;
}
.tm {
  background-color: #e1d6c4;
  /* font-size: initial; */
  font-family: 'Courier New', Courier, monospace;
  word-break: break-word;
  line-height: 1.4rem;
}
#Holder {
  position: absolute;
  top: 2rem;
  right: 2rem;
}
h1 {
  background: #7d2424;
  border-bottom: .1rem dashed;
  color: wheat;
}
.H1Lead {
  background: #f9f0e0;
  padding: 0 1rem;
}
a {
  color: #843637;
}
a:hover {
  color: #7d2424;
}
.SplendidSharingButtons a:nth-child(1) img {
  background: rgb(134, 54, 55)!important;
}
.SplendidSharingButtons a:nth-child(2) img {
  background: #803f40!important
}
.SplendidSharingButtons a:nth-child(3) img {
  background: #444!important;
}
.SplendidSharingButtons a:nth-child(4) img {
  background: #397300!important;
}
.SplendidSharingButtons a:nth-child(5) img {
  background: #1f7199!important;
}
.hljs-type, .hljs-string, .hljs-number, .hljs-selector-id, .hljs-selector-class, .hljs-quote, .hljs-template-tag, .hljs-deletion {
  color: #191b62!important;
}
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #f0f0f08a !important;
  color: #444;
}
.hljs:hover {
  background: #f0f0f0e3 !important;
}
pre {
  background: url('/articles/img/code-bg.png');
  display: inline-block;
  border-radius: 1rem;
  white-space: pre-wrap;
}
pre code {
  word-break: break-word;

}